<h1>Users#new</h1>

<%= form_for @user do |f| %>

  <div class="form-group">
    <h5><%= f.label :areucook, value= "IMPORTANT: CHECK BOX IF YOU WANT TO REGISTER AS COOK " %>
    <%= f.check_box :areucook %></h5>
  </div>

  <div class="form-group">
    <%= f.label :name , value="Name:" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email, value="E-mail address:" %>
    <%= f.email_field :email, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :age, value= "Enter your age (minimum 16):" %>
    <%= f.number_field :age, class: "form-control"  %>
  </div>


  <div class="form-group">
    <%= f.label :password, value= "Password:" %>
    <%= f.password_field :password, placeholder: "Enter a good one", class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :password, value= "Confirm Password:" %>
    <%= f.password_field :password_confirmation, placeholder: "Re-enter your awesome password", class: "form-control"  %>
  </div>

  <div class="actions">
  <%= f.submit "Create User", class: "btn btn-primary" %>
  </div>

<% end %>
