<div class="center">

  <div class="login-box">
    <% if @user[:is_cook] %>
    <p align="center"><strong>THANKS FOR BEING A COOK</strong></p>
    <% end %>
    <p><strong>Name:</strong> <%= @user.name %></p>
    <p><strong>E-mail:</strong> <%= @user.email %></p>
    <p><strong>Rating:</strong> <%= "@user.rating" %></p>
    <% if @user[:is_cook] %>
    <p><a href="/foods">Click here to add to your list or edit your list of food available</a></p>
    <% else %>
    <p><a href="/foods">Click here to see list of food available this week</a></p>
    <% end %>
  </div><br>

  <div class="login-box-left">
    <h4>Meals created:</h4>
    <% @user.meals.each do |m| %>
    <p><%=m.created_at.strftime("%A, %d %b %Y %l:%M %p")%>: <%= m.food.name.titleize %> Meal <%= link_to "Go to meal", meal_path(m)%></p>
    <% end %>
  </div>
</div>
